<div class="center">
  <img src="https://untappd.akamaized.net/photo/2015_09_28/692efc441617b3ba0ad1c7068d234166_640x640.jpg" alt="..." class="img-circle" width="200px">
  <h1>Jeff's Hop Bomb IPA</h1>
  <h4>Brewed on 1/20/2016 <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      1.056 OG | 1.012 FG | 5.2% ABV | 4 SRM | 67 IBU
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          <span class="sr-only">60% Complete</span>
        </div>
      </div>
  </div>
</div>
</div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Get Your Ingredients
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>Great beer starts with great ingredients. First you'll want to find a local homebrew shop, or a reliable online vendor. If you go online, check out <a href="http://www.northernbrewer.com/">Northern Brewer</a>. Their ingredient prices are pretty competitive and they have an awesome selection. But shipping costs add up, and you'll need to plan a bit more in advance for brewing.</p>

      <p>Make sure to also pick up your bottle caps, priming sugar (or better yet, priming tablets), along with an extra bag of dry malt extract for your yeast starter.</p>
        
        <table class="table">
          <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Details</th>
          </tr>
          <tr>
            <td>Light Liquid Malt Extract</td>
            <td>Fermentable</td>
            <td>6.6lb</td>
            <td></td>
          </tr>
          <tr>
            <td>Amber Dry Malt Extract</td>
            <td>Fermentable</td>
            <td>1lb</td>
            <td></td>
          </tr>
          <tr>
            <td>Warrior</td>
            <td>Hops</td>
            <td>1oz</td>
            <td>Boil 60 Minutes</td>
          </tr>
          <tr>
            <td>Mosaic</td>
            <td>Hops</td>
            <td>1oz</td>
            <td>Dry Hop</td>
          </tr>
          <tr>
            <td>Amreican Ale 1056</td>
            <td>Yeast</td>
            <td>1 packet</td>
            <td>Wyeast or White Labs</td>
          </tr>
          </table>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Make Your Yeast Starter
          <div class="pull-right">1/15/2016</div>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>At least a few hours before, ideally a day ahead of time, you'll want to make a yeast starter. Yeast can be pitched as is, especially if you get one of the Wyeast smack packs, but you should always make a starter regardless. It'll ensure you have a huge, healthy yeast colony which gets fermentation started faster and finish more completely.</p>
        <p>You'll never regret making a starter. Seriously.</p>

        <p>To make one, you'll need:</p>
        <ul>
        <li>Your yeast packet</li>
        <li>A glass growler (no lids!)</li>
        <li>Sanitizer</li>
        <li>1/4 cup of light dry malt extract</li>
        <li>1 qt cold clear water</li>
        <li>A saucepan</li>
        <li>Ice</li>
        </ul>

        <p><strong>The day before your brew day</strong>, activate your yeast pack (if you're using Wyeast).</p>
        <p>Start boiling 1qt of cold, clear water in your saucepan.</p>
        <p>Once boiling, remove from heat, and stir in the 1/4 cup of DME and stir in well to combine.</p>
        <p>Add back to the heat and boil for 10 minutes.</p>
        <p>In the meantime, sanitize your growler, a pair of scissors, and a funnel. You'll also want to sanitize the the outside of your yeast pack.</p>
        <p>Once your boil is complete, move your saucepan to the sink and chill it in an ice bath until it's below 80F.</p>
        <p>Pour the now chilled wort into your sanitized growler using the sanitized funnel.
        <p>Add your yeast pack to the growler, cover, and shake up vigorously.
        <p>Cover the top of the growler loosely with foil. <strong>Make sure not to use the growler cap</strong>.</p>
        <p>Leave this container out at room temperature, shaking it every now and then until you're ready to brew.</p>
        <p>If you've made this a day in advance, you'll want to throw this growler in the refrigerator for a few hours right before you start your brew day.</p>
        <p>Once chilled, decant off the majority of the wort, and leave just the yeasty slurry at the bottom. This isn't required, but do it if you can. This will help ensure the not-so-tasty starter beer doesn't affect your final beer result.</p>
        <p>After decanting, leave the growler out to warm back to room temperature while you're brewing.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Brew Day
          <div class="pull-right">1/20/2016</div>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
      <h3>Step 1: Prep</h3>
      <p>Before I start brewing I like to organize everything I need for the day on a kitchen table for easy access. It's a lot of stuff, and it's nice to have it all handy when you need it. This includes:</p>
      <ul>
        <li>All the ingredients for your batch: extract, milled grains, hops, etc</li>
        <li>Your boil kettle</li>
        <li>A large spoon (long enough to use safely with 3 gallons in the kettle)</li>
        <li>A grain bag (Nylon or Muselin)</li>
        <li>A digital scale</li>
        <li>Irish moss</li>
        <li>Your yeast starter</li>
        <li>3  gallons of cold, clear water. You may want to use bottled water if your water quality isn't great. Don't use distilled water though</li>
        <li>Your sanitizer </li>
        <li>A large strainer/colander</li>
        <li>2-3 bags of ice, or alternatively, a wort chiller, if you have one</li>
        <li>Your primary fermenter bucket (usually a big plastic bucket, 8 gallons or more). Make sure to mark the 5 gallon mark on the outside of this bucket if it's not already clearly labeled.</li>
        <li>An airlock - I like the single piece ones. Depending on your kit, you may also have a rubber bung for this airlock</li>
        <li>A floating thermometer</li>
        <li>Your hydrometer</li>
        <li>A turkey baster or wine thief</li>
        <li>A tall clear vase or glass (taller than your hydrometer), or a specialized hydrometer test tube, if you have one.</li>
        </ul>
        <p>Now is also a good time to check your yeast situation. If you neglected to make a starter, you may want to do that prior to brewing. It really will improve the quality of your beer. </p>

        <h3>Step 2: Grain Steeping</h3>
        <p>Next, fill your kettle with 3 gallons of cold, clear water. If you've got decent quality tap water, you should be fine using that. If you have weird tasting water or chlorinated water, you ought to use bottled water instead.</p>

        <p>Heat the water in your kettle on your stove until it reaches 165-170F, and turn down your heat to low-medium to maintain this temperature.</p>

        <p>Fill your grain bag with ALL your milled grains, and put it in the water. Dunk it like a tea bag a few times to ensure good coverage of all the grains.</p>

        <p>Now set a timer for 30 minutes, stirring occasionally and checking your temperature is staying between 165 and 170. You may need to fuss with your heat controls a bit to stay in this range.</p>

        <p>After 30 minutes, pull the bag out of the water and (this is easier with a friend), squeeze out the remaining liquid holding the bag against the side of the kettle, and pressing your spoon against it.</p>

        <p>Now crank the heat up to high on your stove, and discard the grains in the bag.</p> 

        <p>While you're waiting for a rolling boil, you can get your extract ready by opening the packages and measuring out any specific quantities you need per the recipe.</p>

        <h3>Step 3: Add Extracts</h3>
        <p>Once you reach boiling, remove your kettle from the heat. This is super important- if you add your extracts while it's on the heat, you'll end up with a scorched kettle.</p>

        <p>Once off the heat, stir in all your extract ingredients, one at a time. The liquid malt extract likes to stick to the bottom, so stir while pouring this in, and use your spoon to scrape the bottom of the kettle while doing so.</p>

        <p>The dry malt extract likes to clump up when exposed to heat, so it's best to add it in small amounts over time to help it mix evenly.</p>

        <p>Once all your extracts have been added, add your kettle back to the stove and start heating back to boiling once more.</p>

        <p>The newly added extract will start to go through a process called the "hot break", and now is when you stand the biggest risk of boil overs, so keep a very close eye on it. Your wort will get a fine, foamy head to it, and at high temperatures, this can easily rise up and over your kettle, so watch it very carefully and adjust the  temperature down if it threatens to boil over. After a few minutes, the foaming will subside dramatically, and now it's time to start your 60 minute countdown.</p>

        <h3>Step 4: The Boil</h3>

        <p>Set a timer for 60 minutes. As it counts down, you'll add various ingredients at certain intervals. Right when you set the timer, it'll be time to add the first ingredient, your bittering hops.</p>

        #Insert a loop here to list all the boil hops and other ingredients. 

        <p>While you're in the midst of your 60 minute boil, it's a good time to start sanitizing a few things for later. This includes:</p>
        <ul>
          <li>Your primary fermentation bucket and lid</li>
          <li>Airlock &amp; rubber bung</li>
          <li>Wine thief/turkey baster</li>
          <li>Strainer/colander</li>
          <li>Wort chiller (if you have one)</li>
        </ul>
        <p>If you're using StarSan as your sanitizer, I like to fill my bucket about 3/4 of the way with warm water, and then adding the star san (usually 1oz per 5 gallons). I put the bigger items in this bucket to sanitize, and then fill a small vessel, like a juice pitcher, with some of the same water, and place the smaller items in there.</p>
      
        <h3>Step 5: Cooling your wort</h3>
        <p>Once you've ended your 60 minute boil, you need to start cooling the wort as fast as possible, below 80F. The longer it takes, the more stability and clarity issues the beer will have later.</p>

        <p>Remove the kettle from your stove, and place in your sink. If you are using a wort chiller, hook this up to your sink, and place in the kettle, and turn on the cold water. Watch for any leaks on any of the connections, and tighten or turn down the pressure on the faucet.</p>

        <p>If you don't have a wort chiller, you'll need to plug up your sink, and fill with ice and water to create an ice bath. Use rock salt as well in the ice bath (being careful to not get any of it in the wort itself.</p>

        <p>It's important to keep out anything that could possibly contaminate the wort. So I like to keep the lid of the kettle on at least partially so it can still vent.</p>

        <p>Stir occasionally with a sanitized spoon. With a wort chiller and reasonably cold water, your wort should be cold in 10 minutes or so. An ice bath may take as long as 30 minutes.</p>

        <h3>Step 6: Aeration and Top Off Water</h3>
        <p>Once chilled, it's time to strain your wort into your fermentation bucket and aerate it to ensure it has plenty of oxygen in it. Dump out the sanitization fluid from your fermentation bucket, and don't worry about any suds you see there - they won't affect the beer at all. Do not rinse out your bucket after it has been sanitized, otherwise you'll need to sanitize again.</p>

        <p>Find a friend to hold your sanitized strainer over the bucket, while you carefully pour your wort in. If you had a lot of hops in your recipe, you may find you have to stop and empty the strainer in the garbage once or twice. If you used pellet hops, they tend to create a sludge that clogs up strainers, so rinse and re-sanitize your strainer if needed.</p>

        <p>Don't worry if a few hop cones and leaves sneak their way into the bucket, they won't do any harm.</p>

        <p>Once you're done straining, pour the wort back and forth between the bucket and your kettle a few times to aerate it. You need as much oxygen worked up into the liquid as possible to give the yeast plenty to work their magic.</p>

        <p>Once your wort is all back in the bucket, add more cold, clear tap water until you have exactly five gallons of liquid in your bucket.</p>

        <h3>Step 7: Gravity Reading</h3>
        <p>Now it's time to take a gravity reading. Using your sanitized turkey baster or wine thief, take around 6 ounces of wort and place in your hydrometer tube/vase. Take a temperature reading of this sample, and make note of it (you may need to swirl this around a bit to get an accurate reading).</p>

        <p>Then place your hydrometer in the sample, and make note of the gravity measurement (if your hydrometer has multiple scales, use the one that starts at the top with 1.000). Be sure to read this with your eyeline parallel to the fluid level. Record the value, and then use this calculator to adjust for any temperature differences. If your hydrometer is like most, it's calibrated for 68F, but it should say on the hydrometer or the packaging. If your wort temperature is off, be sure to adjust for it. If you brewed this batch perfectly, you should have a gravity reading (Original Gravity, or OG) of [Recipe OG]. If you're off a bit, don't worry too much about it. If you're way off, you may want to check that you didn't miss any ingredients or steps.</p>

        <h3>Step 8: Pitch your yeast</h3>
        <p>Take your yeast starter, which has been sitting at room temperature while you brewed, and agitate it so all the yeast is in suspension. Pitch the entire mixture into the wort, and then place and seal the lid over the bucket.</p>

        <p>You'll also want to place your airlock at this point. You can use santizer fluid for the airlock, or a clear, tasteless alcohol. I like to use cheap vodka for this.</p>

        <h3>Step 9: Storage</h3>
        <p>Store your sealed bucket with airlock in a location of your home without direct sunlight, and a consistent temperature range of [recipe range]. For most people this is a closet, or sometimes a cool, dry basement.</p>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Time to Transfer
        
        <div class="pull-right">1/26/2016</div>
      </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        #
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Bottling Day
        
        <div class="pull-right">1/26/2016</div>
      </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        #
      </div>
    </div>
  </div>
