<nav class="navbar navbar-bottom">
  <div class="container center">

    <p><%= link_to "About", pages_about_path %> | 
    <%= link_to "Contact", pages_contact_path %></p>

    <p>&copy; 2016 FiveGallon</p>
  </div>
</nav>